  .site-header {
    margin-bottom: 30px;
    padding-top: 20px;
    .site-logo{
      text-align: center;
      font-size: 40px;
      font-weight: 700;
    }
    .site-slogan{
      text-align: center;
      font-size: 15px;
    }
  }